:root{
  --white:#f6f6f6;
  --main:rgb(81, 66, 219);
  --main-2:rgb(55, 42, 167);
  --black:rgb(35, 46, 41);
  --hover:#db9839;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0; 
}
a{
  text-decoration: none;
  color: inherit;
}

.navbar{
  background-color: var(--main);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
  align-items: center;
  position: fixed;
  color: var(--white);
  z-index: 1;
 
}


.navbar .logo{
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
}
.layout{
  padding: 20vh 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 290px;
  text-align: center;
  box-shadow: rgba(115, 114, 128, 0.24) 0px 3px 8px;
  margin: 20px 15px 20px 15px;
  cursor: pointer;
  transition: all 300ms ease-in;

}

.card:hover{
  transform: scale(1.1);
}


.card .image{
 
}
.card .image img{
  width: 250px;
  height: 250px;
}







